body {
	color: #111;
	font-family: Georgia, Serif;
}

#wrapper {
	width: 100%;
	max-width: 800px;
	margin: 6rem auto;
}

#page {
	padding: 0 5%
}

a {
	text-decoration: none;
	color: #111;
}

a:hover {
	text-decoration: underline;
}

h1, h2 {
	font-weight: normal;
	font-style: italic;
	text-align: center;
	line-height: 3rem;
	margin: 2rem 0 1rem 0;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 3rem;
}

p {
	line-height: 150%;
	font-size: 1.3rem;
}

.site-title {
	font-family: Helvetica Neue, Helvetica, Arial;
	font-weight: bold;
	font-style: normal;
	margin: 6rem auto;
	text-align: center;
}

.posts-home {
	list-style: none;
	padding: 0;
	text-align: center;
}

.posts-home li {
	margin-bottom: 6rem;
}

.post-header {
	text-align: center;
	margin-bottom: 3rem;
}

.post-metadata {
	list-style: none;
	padding: 0;
	margin: 5rem 0;
	line-height: 150%;
}

.post-metadata a, .content a {
	text-decoration: underline;
}

.date {
	font-style: italic;
	color: #727A8B;
}

.current {
  color: red;
}


#archief-jaarlijks ul {
	list-style: none;
	padding: 0;
	text-align: center;
}

#archief-link {
	display: block;
	text-transform: uppercase;
	text-align: center;
	font-size: 2em;
	transition: padding .5s, text-decoration .5s;
}

#archief-link:hover {
	padding-left: 20px;
}

#archief-link .fas {
	margin-right: 10px;
}